RewriteEngine On

RewriteRule ^category/([a-zA-Z0-9]*)$ controller/category.php?slug=$1 [L,QSA]
RewriteRule ^urundetay/([a-zA-Z0-9]*)$ controller/urundetay.php?slug=$1 [L,QSA]


RewriteRule ^$ controller/index.php [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/$ admin/controller/index.php [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin$ admin/controller/index.php [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ controller/$1.php [L,QSA]





